# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Database files
*.db
